<h4>checkfocus</h4>

<%= form_tag do %>
	<%= label_tag(:q, "Search for theaters by Zipcode:") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
<% end %>

<%= form_tag do %>
	<%= label_tag(:q, "Search for theaters by City/State:") %>
	<%= text_field_tag(:q) %> / <%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
<% end %>