<p>
  <h2>Reviews for <%= @theater.name %> near <%= @theater.zipcode %> </h2>
</p>
<%= link_to "Submit a Review", new_theater_review_path(:theater_id => @theater.id) %> 


<% @reviews.each do |r| %>
		<p>
		  <strong>Review From: <%= @user.email %></strong>
		</p>
		<p>Rating: <%= r.rating %> </p>
		<p><%= r.review_text %> </p>
<% end %>